#victory {
  background-color: yellow;
  border-left: 2px dotted green;
  border-right: 3px solid red;
  border-bottom: 1px dashed black;
  height: 50px;
  width: 300px;
  margin-left: 20px;
  margin-top: 100px;
  background-image: url('../images/mini.png');
  /*background-size: cover;*/
  /*background-repeat: repeat-x;*/
  /*background-repeat: repeat-y;*/
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
  padding-left: 20px;
  padding-top: 10px;
  text-align: center;
  line-height: 40px;
  font-family: 'Verdana';
  font-size: 25px;
  color: green;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#red {
  width: 200px;
  height: 200px;
  background-color: red;
  position: absolute;
  top: 200px;
  left: 100px;
  z-index: 2;
  overflow: hidden;
}

#red > img {
  opacity: 0.5;
}

#blue {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute;
  top: 300px;
  left: 200px;
  z-index: 1;
  /*display: none;*/
  opacity: 0;
}

#table1 {
  margin-top: 350px;
  width: 100%;
}

#table1,  
#table1 tr,
#table1 tr > td{
  border: 1px solid;
}

#table1 tr:nth-child(1) > td:nth-child(1) {
  background-color: red;
}

#table1 tr:nth-child(1) > td:nth-child(2) {
  background-color: green;
}

#table1 tr:nth-child(1) > td:nth-child(3) {
  background-color: blue;
}

#table1 tr:nth-child(2) > td:nth-child(1) {
  background-color: pink;
}

#table1 tr:nth-child(2) > td:nth-child(2) {
  background-color: violet;
  border: 2px dotted blue; 
}

#table1 tr:nth-child(2) > td:nth-child(3) {
  background-color: grey;
}

#table1 tr:nth-child(3) > td:nth-child(1) {
  background-color: yellow;
}

#table1 tr:nth-child(3) > td:nth-child(2) {
  background-color: gold;
}

#table1 tr:nth-child(3) > td:nth-child(3) {
  background-color: orange;
}

#table1 tr > td:nth-child(1) {
  width: 30%;
}

#table1 tr > td:nth-child(2) {
  width: 300px;
}

.vlas {
  width: 100%;
}

.vlas,
.vlas tr,
.vlas tr > td {
  border: 1px solid;
}