 @font-face {
  font-family: 'GTA'; /* Имя шрифта */
  src: url('../fonts/662_old_english.ttf'); /* Путь к файлу со шрифтом */
}

html, body {
  margin: 0;
  padding: 0;
}

.menu {
  height: 40px;
  background-color: #333;
  font-size: 13px;
  font-weight: bold;
  border-left: 2px solid #333;
  border-top: 2px solid #333;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.menu > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 40px;
}

.menu > ul > li {
  float: left;
  height: 40px;
}

.menu > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  font-weight: bold;
  display: block;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  transition: .3s;
}

.menu > ul > li > a:hover {
  background-color: #555;
  color: #999;
}

.menu > ul > li > ul {
  display: none;
  list-style: none;
  margin: 0;  
  padding: 0; 
}

.menu > ul > li:hover > ul {
  display: block;
}

.menu > ul > li > ul > li {

}

.menu > ul > li > ul > li > a {
  display: block;
  width: 150px;
  height: 40px;
  color: #fff;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #555;
  text-align: center;
  line-height: 40px;
}

.menu > ul > li > ul > li > a:hover {
  background-color: #999;
}

.sanfont {
  font-family: 'GTA';
  font-size: 70px;
  margin-top: 100px;
}