html, body {
  margin: 0;
  padding: 0;
}

#display {
  border: 1px solid;
  margin: 0;
  padding: 0;
  height: 500px;
  overflow: auto;
}

#display img {
  width: 200px;
}

form#form {
  position: absolute;
  bottom: 0;
  width: 100%;
}

form#form > input[type="text"] {
  width: 95%;
  height: 50px;
  font-size: 20px;
}

form#form > button {
  height: 50px;
}
