#green {
  width: 200px;
  height: 200px;
  background-color: #0f0;
  font-size: 20px;
  font-family: 'Arial';
  color: #f00;
  padding: 10px;
  border: 5px solid #00f;
  transition: .3s;
}

#green:hover {
  transform: rotateX(180deg);
  margin-left: 100px;
}

#green > span {
  font-style: italic;
  font-weight: bold;
}