html, body {
  margin: 0;
  padding: 0;
}

.greenBlock {
  width: 480px;
  height: 480px;
  background-color: green;
  margin: 0 auto;
  outline: 2px dotted black;
  outline-offset: -15px;
  padding: 20px;
}

.greenBlock > h1 {
  text-transform: uppercase;
  color: yellow;
  text-align: center;
}